.content-radio-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-radio-item {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer; 
    margin-right: 10px; 
    color: aliceblue;
    font-size: 14px;
    text-decoration: none;
    transition: 100ms ease;
}

.content-radio-item:hover {
    background-color: var(--pink-color-highlight);
}

.content-radio-item.selected {
    background-color: var(--pink-color-highlight); 
    color: var(--pink-color);
}

@media (max-width:480px)  {
    .content-radio-item {
        padding: 6px;
        border-radius: 4px;
        margin-right: 5px;
    }
}