ul {
    margin: 8px 0 0 0;
    padding: 0 0 0 14px;
}

.password-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.password-input {
    padding-right: 40px;
    width: 270px;
}

.password-eye {
    position: absolute;
    right: 10px;
    top: 29px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.password-requirements {
    color: var(--grey);
    margin-top: 8px;
}

@media (max-width:480px)  {

    .password-input {
        padding-right: 40px;
        width: calc(55dvw - 30px);
    }
}